 <section class="main">
        <h2>Skip the dishes, and enjoy!</h2>
        <div class="content">

            {{#each data}}
            <div class="workbox">
                <div class="content-image">
                    <img src="/img/{{this.imgSrc}}" alt="order" height="240px" width="250px">
                </div>
                <div class="image-content">
                    <h4>{{this.title}}</h4>
                    <p>{{this.description}}</p>
                </div>
            </div>
            {{/each}}
        </div>



        <h2>Here are some of the Best Seller</h2>
        <div class="content">

            {{#each data1}}
            <div class="workbox">
                <div class="content-image">
                    <img src="/img/{{this.imgSrc}}" alt="order" height="240px" width="250px">
                </div>
                <div class="image-content">
                    <h4>{{this.title}}</h4>
                    <p>{{this.price}}</p>
                </div>
            </div>
           {{/each}}
        </div>


    </section>